@import 'Styles/variaveis';

.footer {
    color: white;
    width: fit-content;
    text-align: right;
    padding: 2em;
    margin: 0 0 0 auto;
    font-family: $fonte-menu;
    font-display: swap;
    background: $text-gradient-inverted;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 0.95em;
    min-height: 10vh;
}
