@import 'Styles/variaveis';

.container {
    animation: $showUp;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    row-gap: 2em;

    :nth-child(1) {
        grid-column: span 2;
    }

    :last-child {
        grid-column: 1;
    }

}

@media screen and (min-width: $min-width-desktop){



}

@media screen and (min-width: $min-width-tablet) and (max-width: $min-width-desktop){

    .container {
        grid-template-columns: 1fr 1fr;
        gap: 2em;
    }
}

@media screen and (max-width: $min-width-tablet){

    
    .container {
        grid-template-columns: 1fr;
        gap: 2em;

        :nth-child(1) {
            grid-column: span 1;
        }
    }

}